.media-item {
    max-width: 100%;
    display: flex;
    flex: 1;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.no-video {
    @extend .overlay;
    background: url('/assets/images/no-video.svg') no-repeat center;
}

.no-audio {
    @extend .overlay;
    background: url('/assets/images/no-audio.svg') no-repeat center;
}