.web-rtc-app {
  font-family: Calibri;
  width: 100vw;
  height: 100vh;
  background: #e8e8e8;
  display: flex;
  justify-content: flex-start;

  h1 {
    font-size: 2.2em;
    margin: 0.4em 0.4em 1em;

    span {
        font-size: 0.4em;
        position: relative;
        top: 1.4em;
        right: 4.5em;
    }
  }

  .right-part {
    align-items: stretch;
    flex-flow: column;
    display: flex;

    chat-box {
        flex: 1;
    }
  }

  .big-part {
    align-items: stretch;
    flex-flow: column;
    flex: 1;
  }
}
