.web-rtc-app {
  width: 100vw;
  height: 100vh;
  background: #e8e8e8;
  display: flex;
  justify-content: flex-start;

  h1 {
    font-size: 2.2em;
    margin: 0.4em 0.6em;

    span {
        font-size: 0.4em;
        position: relative;
        top: 1.4em;
        right: 4.5em;
    }
  }

  .small-part {
    width: 300px;
    max-height: 100%;
    flex-flow: column;
    display: flex;

    chat-box {
      display: flex;
      flex: 1;
    }

    own-media-box {
      display: flex;
      flex: 1 1 0;
    }
  }

  .big-part {
    display: flex;
    flex-flow: column;
    flex: 1;

    media-box {
      display: flex;
      flex: 1;
    }

  }
}
