.web-rtc-app {
  width: 100vw;
  height: 100vh;
  background: #e8e8e8;
  display: flex;
  justify-content: flex-start;

  .header {
    margin: 1em;
  }

  h1 {
    font-size: 34px;

    span {
      font-size: 14px;
      position: relative;
      top: 1.4em;
      right: 4.5em;
    }
  }

  .small-part {
    width: 300px;
    max-height: 100%;
    flex-flow: column;
    display: flex;
    transition: margin 0.5s linear;

    chat-box {
      display: flex;
      flex: 2 0 0;
    }

    own-media-box {
      display: flex;
      flex: 1 0 0;
    }

    .hide-button {
      background: #ccc;
      float: right;
      font-size: 32px;
      font-weight: bold;
      padding: 0 10px 2px 8px;
      border: 0;
      cursor: pointer;

      &:before {
        content: "\276E";
      }
    }

    &.hidden {
      margin-left: -300px;
      transition: margin 0.5s linear;

      .hide-button {
        position: relative;
        z-index: 999;
        left: 50px;

        &:before {
          content: "\276F";
        }
      }
    }  
  }

  .big-part {
    display: flex;
    flex-flow: column;
    flex: 1;

    media-box {
      display: flex;
      flex: 1;
    }
  }
}
