doctype html
html
    head
        title PeerJS test
        script(src='/lib/system.js')
        script(src='/config.js')
        script(src='/lib/angular2.dev.js')
        script.
            System.import('/dist/js/app');
        link(href='/dist/css/main.css')
    body
        web-rtc-app