doctype html
html
    head
        title PeerJS test
        script(src='/lib/peerjs/peer.min.js')
        script(src='/src/app.js')
        script(src='/src/system.js')
        script(src='/src/angular2.dev.js')
        script.
            var peers = [#{peers}]
            System.config({
            	packages: {'src/app': {defaultExtension: 'js'}}
            });
            System.import('src/app/app');
    body
        button#join(value='Join') JOIN
        button#call CALL
        button#fullScreen(style='display: none;') FULL SCREEN
        hr
        div
            form(action='javascript:void(0);')
            input#message(type='text', size='80')
            button#send(type='submit') SEND
        #chatBox(style='float: left; width: 40%;')
        video#videoElement(style='float: right; width: 60%;')
        web-rtc-app