doctype html
html
    head
        title PeerJS test
        script(src='/src/system.js')
        script(src='/config.js')
        script(src='/src/angular2.dev.js')
        script.
            System.import('src/app/app');
    body
        web-rtc-app