doctype html
html
    head
        title PeerJS test
        link(href='/dist/css/main.css', rel='stylesheet')
        link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon') 
    body
        web-rtc-app
    script(src='/lib/angular2-polyfills.js')
    script(src='/lib/system.js')
    script(src='/lib/Rx.min.js')
    script(src='/lib/angular2.dev.js')
    script(src='/config.js')
    script.
        System.import('/dist/js/app');