<div class='web-rtc-app'>
    <div class='small-part' #sidebar>
        <div class='header'>
            <h1>
                {{title}}
                <span>{{status}}</span>
            </h1>
            <button class='hide-button' [hidden]='!initialised'
                (click)="toggleSidebar(sidebar)" title='Toggle sidebar'></button>
        </div>
        <chat-box></chat-box>
        <own-media-box></own-media-box>
    </div>
    <div class='big-part'>
        <start-call></start-call>
        <media-box></media-box>
     </div>
 </div>